<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- Dirección pública del broker; las credenciales se guardan por iPhone. -->
	<key>MQTT_HOST</key>
	<string>ce14c140.ala.us-east-1.emqxsl.com</string>
	<key>MQTT_PORT</key>
	<string>8883</string>
	<key>MQTT_TLS</key>
	<string>1</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>es</string>
		<string>es-PE</string>
		<string>en</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
	</array>
</dict>
</plist>
