<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>tel</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>RutaUTP necesita tu ubicación para mostrarte el mapa, calcular rutas hacia el campus UTP y seguir tu progreso durante el viaje.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>RutaUTP puede usar tu ubicación en segundo plano para mantener activo el seguimiento de tu ruta incluso con la pantalla bloqueada (funcionalidad futura para el rol conductor).</string>
	<!-- TODO (futuro): cuando se defina el rol conductor, habilitar background location:
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
	</array>
	-->
	<key>UIAppFonts</key>
	<array>
		<string>HankenGrotesk-Regular.ttf</string>
		<string>HankenGrotesk-Bold.ttf</string>
		<string>HankenGrotesk-ExtraBold.ttf</string>
		<string>BeVietnamPro-Regular.ttf</string>
		<string>BeVietnamPro-Medium.ttf</string>
		<string>BeVietnamPro-SemiBold.ttf</string>
		<string>JetBrainsMono-Regular.ttf</string>
		<string>JetBrainsMono-SemiBold.ttf</string>
	</array>
</dict>
</plist>
