# macOS
.DS_Store

# Xcode
xcuserdata/
*.xcuserstate

# Build
build/
DerivedData/

# Swift Package Manager
.build/

# MQTT local
mqtt/config/passwords
mqtt/data/

# Esquema local con variables MQTT
RutaUTP.xcodeproj/xcshareddata/
